n8n/JChat_contract_aistudio.json
{
  "name": "JChat Contract - Consultorio (AI Studio Gemini 3.1 Flash Lite, REST)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "consultorio-inbound", "responseMode": "onReceived", "options": {} },
      "id": "dddddddd-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "consultorio-inbound-webhook"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json.body || $input.first().json;\nconst ctx = p.context || {};\nconst summary = ctx.summary || {};\nconst state = ctx.state || {};\nconst agent = p.agent || {};\nconst systemMessage = agent.prompt || 'Eres un asistente virtual. Responde SIEMPRE en JSON valido.';\nconst conv = p.conversation || {};\nconst parts = [];\nparts.push('Mensaje del cliente: ' + ((p.message && p.message.content) || ''));\nparts.push('Cliente: ' + (conv.customerName || '') + ' (' + (conv.customerPhone || '') + ')');\nif (summary.text) parts.push('Resumen de la conversacion (memoria): ' + summary.text);\nif (state && Object.keys(state).length) parts.push('Estado actual del flujo: ' + JSON.stringify(state));\nconst agentInput = parts.join('\\n');\nreturn [{ json: {\n  systemMessage: systemMessage,\n  agentInput: agentInput,\n  _ctx: {\n    correlationId: p.correlationId,\n    tenantId: (p.business || {}).tenantId,\n    chatId: conv.chatId,\n    customerId: conv.customerId,\n    channel: p.channel,\n    callbackUrl: p.callbackUrl,\n    refreshSummary: !!ctx.refreshSummary,\n    summaryVersion: summary.version || 0,\n    businessName: (p.business || {}).name,\n    message: (p.message && p.message.content) || ''\n  }\n}}];"
      },
      "id": "dddddddd-0000-0000-0000-000000000002",
      "name": "Adaptar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-goog-api-key", "value": "={{ $env.GEMINI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $json.systemMessage }] }, contents: [{ role: 'user', parts: [{ text: $json.agentInput }] }], generationConfig: { responseMimeType: 'application/json', temperature: 0.4 } }) }}",
        "options": {}
      },
      "id": "dddddddd-0000-0000-0000-000000000003",
      "name": "HTTP - AI Studio Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json || {};\nlet raw = '';\ntry { raw = resp.candidates[0].content.parts[0].text; } catch (e) { raw = ''; }\nconst cleaned = String(raw).replace(/^\\s*```json\\s*/i, '').replace(/^\\s*```\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet parsed;\ntry { parsed = JSON.parse(cleaned); }\ncatch (e) { parsed = { intent: 'triage', reply: String(raw || '(sin respuesta de Gemini)'), nombre: '', correo: '', servicio: '', descripcion: '', fecha_hora: '', folio: '', ticket_correcto: null }; }\nreturn [{ json: parsed }];"
      },
      "id": "dddddddd-0000-0000-0000-000000000004",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $json;\nconst ctx = $('Adaptar').first().json._ctx;\nconst intent = parsed.intent || 'triage';\nconst content = parsed.reply || '';\nconst statePatch = { stage: intent };\n['nombre', 'correo', 'servicio', 'descripcion', 'fecha_hora'].forEach(function (k) { if (parsed[k]) statePatch[k] = parsed[k]; });\nconst memory = { summary: null, statePatch: statePatch };\nif (ctx.refreshSummary) memory.summary = { text: 'Resumen: ' + (parsed.descripcion || ctx.message || ''), version: (ctx.summaryVersion || 0) + 1 };\nconst payload = {\n  correlationId: ctx.correlationId,\n  tenantId: ctx.tenantId,\n  chatId: ctx.chatId,\n  customerId: ctx.customerId,\n  channel: ctx.channel,\n  reply: { type: 'TEXT', content: content, mediaUrl: null },\n  memory: memory,\n  handoff: intent === 'human_escalation'\n};\nreturn [{ json: { callbackUrl: ctx.callbackUrl, payload: payload } }];"
      },
      "id": "dddddddd-0000-0000-0000-000000000005",
      "name": "Construir Reply Contrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "dddddddd-0000-0000-0000-000000000006",
      "name": "HTTP - Callback Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [[{ "node": "Adaptar", "type": "main", "index": 0 }]] },
    "Adaptar": { "main": [[{ "node": "HTTP - AI Studio Gemini", "type": "main", "index": 0 }]] },
    "HTTP - AI Studio Gemini": { "main": [[{ "node": "Parse AI JSON", "type": "main", "index": 0 }]] },
    "Parse AI JSON": { "main": [[{ "node": "Construir Reply Contrato", "type": "main", "index": 0 }]] },
    "Construir Reply Contrato": { "main": [[{ "node": "HTTP - Callback Backend", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "jchataistudio",
  "tags": []
}
